
torch
torchvision
tensorflow
pytorch-lightning==1.2.9
opencv-python-headless
scikit-image
scikit-learn
kornia==0.5.0
albumentations==0.5.2
numpy
pandas
matplotlib
pyyaml
tqdm
joblib
packaging
easydict==1.9.0
tabulate
streamlit
streamlit-drawable-canvas
altair<5
paddleocr
webdataset
wldhx.yadisk-direct
hydra-core==1.1.0
